<!DOCTYPE html>
<html>
<head>
  <title>Ggstalker</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <meta http-equiv="Access-Control-Allow-Origin" content="*">
</head>
<body>

<%= yield %>

</body>
</html>
